<main>
    <div class="text-center col-md-12">
        <!--Start of Form-->
        <label class="font-weight-bold  filterTitle">Users</label>
        <!--Table-->
        <section>
            <table class=" table-striped container table table-sm table-bordered mt-5">
                <thead id="usersHeader" class="font-weight-bold bg-dark text-white">
                    <tr>
                        <th>User Name</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                </tbody>
            </table>
            <!--End of Table-->
            <!-- Go back button-->
            <button class="btn btn-info active" type="button"  (click)= "goBack()">Go Back</button> 
        </section>
    </div>
</main>