<main>
    <div class="container col-md-7">
        <!--Start of Form-->
        <form class="form " autocomplete="off" method="GET" >
            <!-- Radio buttons for search-->
            <section>
                <div class="text-center col-md-12">
                    <label class="font-weight-bold  filterTitle">Teams</label>
                </div>
            </section>
            <!--Table-->
            <section>
                <table class=" table-striped container table table-sm col-12 table-bordered mt-5">
                    <thead id="teamHeader" class="font-weight-bold bg-dark text-white">
                                    <tr>
                                        <th>Team Name</th>
                                        <th>Manager Name</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                    <tbody id="teamTable">
                     
                            <tr *ngFor="let team of teams">
                                    <td>{{team.TeamName}}</td>
                                    <td>{{team.ManagerName}}</td>
                                    <td>{{team.ManagerPhone}}</td>
                         </tbody>
                </table>
                <!--End of Table-->
            </section>
        </form>
    </div>
</main>
