<!-- Navbar -->
<nav class=" font-weight-bold d-flex  align-items-center px-md-2 mb-4 bg-white border-bottom shadow-sm ">
    <img src="/assets/images/logo.jpg" alt="logo">
    <a class="title my-0 mr-md-auto font-weight-normal text-decoration-none title" href="/">Soccer
        Academy</a>
    <div class="my-2 my-md-0 mr-md ">
        <a class="p-3 navLinks" (click)="onIndex()">Home</a>
        <a *ngIf="isAuth()" class="p-3 navLinks" href="/leagues" id="leagues">Leagues</a>
        <a *ngIf="!isAuth()" class="p-3 navLinks" (click)="onRegister()">Register</a>
        <a *ngIf="!isAuth()" class="p-3 navLinks" (click)="onLogin()">Login</a>
        <a *ngIf="isAuth()" class="p-3 navLinks" (click)="onLogOut()">Logout</a>
        <a *ngIf="isAuth()" class="p-3 navLinks" (click)="onEdit()">Edit Profile</a>
        <a class="p-3 navLinks" href="/users/admin/" id="admin">Admin</a>
    </div>
</nav>
